.shop-page {
  min-height: 100vh;
  background-color: #fff6ea;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column; 
}

.shop-content {
  padding: 60px 80px 10px 80px;
  flex: 1;  
} 

/* TITLE */
.catalog-title {
  font-size: 52px;
  color: #2c1a0e;
  margin-bottom: 24px;
}

/* FILTER BUTTONS */
.filter-btns {
  display: flex;
  gap: 12px;
  margin-bottom: 36px;
}

.filter-btn {
  width: 120px;
  height: 44px;
  background-color: transparent;
  color: #2c1a0e;
  border: 1.5px solid #3e2723;
  border-radius: 10px;
  padding: 10px 10px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 550;
  cursor: pointer;
  transition: all 0.2s;
}

.filter-btn:hover {
  background-color: #3e2723;
  color: white;
}

.filter-active {
  background-color: #3e2723;
  color: white;
}

/* GRID */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px 30px;
}

/* CARD */
.product-card {
  background-color: white;
  border-radius: 16px;
  border: 1.5px solid #3e2723;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  cursor: pointer;
  transition: border-color 0.2s;
}

.product-category {
  font-size: 16px;
  font-weight: 900;
  color: #2c1a0e;
  letter-spacing: 1px;
  margin: 0;
}

.product-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  padding: 0;
}

.product-img {
  width: 140%;
  height: 120%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product-card:hover .product-img {
  transform: scale(1.08);
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.product-name {
  font-size: 14px;
  font-weight: 900;
  color: #2c1a0e;
  letter-spacing: 0.5px;
  margin: 0;
}

.product-desc {
  font-size: 13px;
  color: #888;
  margin-top: 4px;
}

.product-price {
  font-size: 15px;
  font-weight: 700;
  color: #2c1a0e;
  white-space: nowrap;
}

/* ── MOBILE RESPONSIVE (iPhone 14 Pro Max) ── */
@media screen and (max-width: 430px) {
  .shop-content {
    padding: 100px 20px 20px 20px;
  }

  .catalog-title {
    font-size: 36px;
  }

  .filter-btns {
    overflow-x: auto; /* Allow buttons to scroll horizontally */
    padding-bottom: 10px;
    white-space: nowrap;
  }

  .filter-btn {
    flex: 0 0 auto;
  }

  .products-grid {
    grid-template-columns: 1fr; /* Stacked cards */
    gap: 20px;
  }
}